[% INCLUDE 'doc-head-open.inc' %]
   <title>Koha &rsaquo; Plugins &rsaquo; Pay via PayPal &rsaquo; Configuration</title>
   <script type="text/javascript">window.plugin_path="[% PLUGIN_PATH %]"</script>
   <meta data-n-head="1" charset="utf-8">
   <meta data-n-head="1" name="viewport" content="width=device-width,initial-scale=1">
   <meta data-n-head="1" data-hid="description" name="description" content="paypal front">
   <link data-n-head="1" rel="icon" type="image/x-icon" href="/favicon.ico">
   <link data-n-head="1" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap">
   <link data-n-head="1" rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
   <link rel="preload" href="/api/v1/contrib/paypal/static/_nuxt/324bf312526abf061d63.js" as="script">
   <link rel="preload" href="/api/v1/contrib/paypal/static/_nuxt/c01f8725c6a3478df69e.js" as="script">
   <link rel="preload" href="/api/v1/contrib/paypal/static/_nuxt/d5aa908875a5b7345179.js" as="script">
   <link rel="preload" href="/api/v1/contrib/paypal/static/_nuxt/64c8e567c098ac63bee2.js" as="script">
  [% INCLUDE 'doc-head-close.inc' %]
  
  <body>
  [% INCLUDE 'header.inc' %]
  [% INCLUDE 'cat-search.inc' %]
  
  <div id="breadcrumbs">
    <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo;
    <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo;
    Pay via PayPal
  </div>
  
  <div id="__nuxt"><style>#nuxt-loading{visibility:hidden;opacity:0;position:absolute;left:0;right:0;top:0;bottom:0;display:flex;justify-content:center;align-items:center;flex-direction:column;animation:nuxtLoadingIn 10s ease;-webkit-animation:nuxtLoadingIn 10s ease;animation-fill-mode:forwards;overflow:hidden}@keyframes nuxtLoadingIn{0%{visibility:hidden;opacity:0}20%{visibility:visible;opacity:0}100%{visibility:visible;opacity:1}}@-webkit-keyframes nuxtLoadingIn{0%{visibility:hidden;opacity:0}20%{visibility:visible;opacity:0}100%{visibility:visible;opacity:1}}#nuxt-loading>div,#nuxt-loading>div:after{border-radius:50%;width:5rem;height:5rem}#nuxt-loading>div{font-size:10px;position:relative;text-indent:-9999em;border:.5rem solid #f5f5f5;border-left:.5rem solid #fff;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:nuxtLoading 1.1s infinite linear;animation:nuxtLoading 1.1s infinite linear}#nuxt-loading.error>div{border-left:.5rem solid #ff4500;animation-duration:5s}@-webkit-keyframes nuxtLoading{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes nuxtLoading{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}</style><script>window.addEventListener("error",function(){var e=document.getElementById("nuxt-loading");e&&(e.className+=" error")})</script><div id="nuxt-loading" aria-live="polite" role="status"><div>Loading...</div></div></div>

<script type="text/javascript" src="/api/v1/contrib/paypal/static/_nuxt/324bf312526abf061d63.js"></script>
<script type="text/javascript" src="/api/v1/contrib/paypal/static/_nuxt/c01f8725c6a3478df69e.js"></script>
<script type="text/javascript" src="/api/v1/contrib/paypal/static/_nuxt/d5aa908875a5b7345179.js"></script>
<script type="text/javascript" src="/api/v1/contrib/paypal/static/_nuxt/64c8e567c098ac63bee2.js"></script>

[% INCLUDE 'intranet-bottom.inc' %]
